<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- Definicja celów logowania -->
  <targets>
    <!-- Logowanie do pliku na dysku D: w katalogu movieLogs -->
    <target xsi:type="File" name="file" fileName="D:\movieLogs\${shortdate}.log" createDirs="true"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"/>

    <!-- Logowanie do konsoli -->
    <target xsi:type="Console" name="console" layout="${longdate} | ${level:uppercase=true} | ${message}"/>
  </targets>

  <!-- Reguły logowania -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>