.movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    height: 40vh;
    border: 2px solid black;
    margin-top: 1rem;
    padding-bottom: 0.4rem;
    gap: -25px;
}

.img {
    width: 100%;
    height: 60%;
}